.DS_Store
#client
client/node_modules
client/dist
client/.tmp
client/.sass-cache
client/bower_components
client/npm-debug.log

# Managed by Composer
/server/app/bootstrap.php.cache
/server/var/bootstrap.php.cache
/server/bin/*
!serverbin/console
!server/bin/symfony_requirements
/server/vendor/*

# Cache and logs (Symfony2)
server/app/cache/*
server/app/logs/*
!server/app/cache/.gitkeep
!server/app/logs/.gitkeep

# Assets and user uploads
/server/web/bundles/
/server/web/uploads/

# Build data
/server/build/